#footer {
    padding: 1em;
    width: 100vw;
    height: 6em;
    box-shadow: 1px 1px 20px rgba(20, 20, 20, 0.3);
    background-color: var(--color-info-background);
    bottom: 0;
    width: 100%;
}

.footer-float {
    position: relative;
}

.footer-anchor {
    position: absolute;
}

#footer img {
    height: 3em;
}

#footer button {
    width: 100%;
}

#footer button:hover {
    cursor: pointer;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 550px) {
    #footer img {
        height: 4em;
    }
    #footer button {
        width: 150%;
    }
}
