#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8em;
    padding: 1em;
    width: 100vw;
    height: 14em;
    box-shadow: 1px 1px 20px rgba(20, 20, 20, 0.3);
    background-color: var(--color-info-background);
}

#header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
#header img {
    height: 4em;
}

#searchForm {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 90%;
}

#searchTypeSelect {
    text-align: center;
    background-image: url(/img/city.png);
    background-repeat: no-repeat;
    background-position: 6px 6px;
}

#searchInput,
#searchTypeSelect,
#searchButton {
    padding: 5px;
}

@media screen and (min-width: 550px) {
    #header {
        height: 5em;
        flex-direction: row;
        column-gap: 1em;
        justify-content: space-between;
    }

    #header .logo {
        width: 310px;
    }

    #searchForm {
        flex-direction: row;
        column-gap: 0.3em;
        width: calc(100% - 320px);
        max-width: 720px;
        height: 2em;
    }

    #searchInput {
        width: 60%;
    }

    #searchTypeSelect {
        min-width: 120px;
    }

    #searchTypeSelect,
    #searchButton {
        width: 18%;
    }
}
