#header {
    display: flex;
    align-items: center;
    column-gap: 1em;
    padding: 2.5em;
    width: 100vw;
    height: 3em;
    box-shadow: 1px 1px 20px rgba(20, 20, 20, 0.3);
    background-color: var(--color-info-background);
}

#header img {
    height: 4em;
}
