@import url("colors.css");
@import url("common.css");
@import url("header.css");


/* About Us Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: "Asap", sans-serif;
}

.pageContainer {
    display: flex;
    flex-direction: column;
}

.pageContainer h3 {
    text-align: center;
}

.profileImg {
    width: 100px;

}

#profile{
    display: flex;
    flex-direction: column;
    background-color: var(--color-info-background);
    flex-wrap: wrap;
    width: 300px;
    align-content: center;
    padding: 2em;
    margin:1em 3em 0 0;
    
    
}

#aboutUs {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    
    

}

#aboutUs a {
    color: var(--color-primary);

}


/* concerts Styles */

#search {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    justify-content: space-between;
    column-gap: 10px;
    margin: 4em;
    background-color: var(--color-info-background);
    border-radius: 4px;
    box-shadow: 2px 2px 10px var(--color-secondary);
}
.concertImg {
    width: 100%;
}

.concert {
    display: flex;
    flex-direction: column;
    width: 300px;
}

/* Concert styles */

.artistLinks {
    display: flex;
    justify-content: space-between;
 
}

.concertInfo, #venues {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 2em;
    justify-content: space-between;
    column-gap: 10px;
    margin: 4em;
    background-color: var(--color-info-background);
    border-radius: 4px;
    box-shadow: 2px 2px 10px var(--color-secondary);
}


/* Venues styles */

@media screen and (max-width: 708px) {
    #profile {
        width: 100%;
        margin: 0;

    }

    .concert {
        width: 100%;
        margin: 0;
        justify-self: center
    }
    
}

