<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
</head>

<body>
    <template id="footer">
        <div class="footer-info">


            <a href="https://github.com/jon-cundiff/aural_connectors"><img src="/img/github-logo-black.png"
                    alt="Git Hub Logo" /></a>
            <a href="/about_us.html"><button class="button button-primary">About Us</button></a>
            <h3>© 2022</h3>
        </div>

    </template>
</body>

</html>