<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <template id="header">
            <a class="logo" href="/">
                <img src="/img/logo.svg" alt="Aural Connectors Logo" />
                <h1>Aural Connectors</h1>
            </a>
            <form id="searchForm">
                <input
                    type="text"
                    id="searchInput"
                    placeholder="Search by city, genre, artist, or venue name"
                    required
                />
                <select id="searchTypeSelect" value="city">
                    <option value="city">City</option>
                    <option value="classificationId">Genre</option>
                    <option value="attractionId">Artist</option>
                    <option value="venue">Venue</option>
                </select>
                <button id="searchButton" class="button button-primary">
                    Search
                </button>
            </form>
        </template>
    </body>
</html>
